<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="e612921f-b8c7-44eb-a634-10c9a4bce1a2" Publisher="CN=14758" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MindMap.Windows</DisplayName>
    <PublisherDisplayName>14758</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MindMap.Windows.App">
      <m2:VisualElements DisplayName="MindMap.Windows" Square150x150Logo="Assets\SmallLogo.png" Square30x30Logo="Assets\SmallLogo.png" Description="MindMap.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:DefaultTile ShortName="asd" DefaultSize="square150x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>